<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="institute">
      <h2 data-cy="instituteDetailsHeading"><span>Institute</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ institute.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ institute.name }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ institute.phone }}</span>
        </dd>
        <dt><span>Website</span></dt>
        <dd>
          <span>{{ institute.website }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ institute.email }}</span>
        </dd>
        <dt><span>Street</span></dt>
        <dd>
          <span>{{ institute.street }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ institute.city }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ institute.state }}</span>
        </dd>
        <dt><span>Zip</span></dt>
        <dd>
          <span>{{ institute.zip }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/institute', institute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
