<div>
  <h2 id="page-heading" data-cy="TrackerHeading">
    <span>Trackers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tracker"
        [routerLink]="['/tracker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tracker </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trackers?.length === 0">
    <span>No trackers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trackers && trackers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="page"><span>Page</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="word"><span>Word</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="recall"><span>Recall</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="connect"><span>Connect</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tajweed"><span>Tajweed</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="makhraj"><span>Makhraj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createTimestamp"><span>Create Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="student.id"><span>Student</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tracker of trackers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tracker', tracker.id, 'view']">{{ tracker.id }}</a>
          </td>
          <td>{{ tracker.page }}</td>
          <td>{{ tracker.word }}</td>
          <td>{{ tracker.recall }}</td>
          <td>{{ tracker.connect }}</td>
          <td>{{ tracker.tajweed }}</td>
          <td>{{ tracker.makhraj }}</td>
          <td>{{ tracker.createTimestamp | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="tracker.student">
              <a [routerLink]="['/student', tracker.student?.id, 'view']">{{ tracker.student?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tracker', tracker.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tracker', tracker.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tracker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trackers && trackers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
